@media screen and (min-width: 660px){


.profile-picture {
  float: left;
  margin:0 20px 20px 0;
}


nav {
  float:right;
  font-size:1.2em;
  margin-right: 5%;
  text-align: right;
  width: 45%;
}

#about-page {
  text-align: left;
}

#primary {
width: 40%;
float: left;
}

#secondary {
  width: 40%;
  float:right;
}

#aboutpagelist li{
display: inline-block;
width: 80%;
height: 120px;
padding: 1.2em 0;
text-align: left;
padding: 1.5em 0;
}


}

